<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godot.godotopenxrmeta">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotOpenXRMeta"
            android:value="com.godot.godotopenxrmeta.GodotOpenXRMeta" />
    </application>

</manifest>