# Android Studio project files
*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Visual Studio Code project files
.vscode

# Binaries
*.o
*.os
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib

# Generated headers
*.gen.h

# Misc
compile_commands.json
.DS_Store
.cache
/plugin/src/gen/
/plugin/src/main/libs
/zippedSamples
