# Android Studio project files
*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Visual Studio Code project files
.vscode

# Binaries
*.o
*.os
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib

# Misc
.DS_Store
/plugin/src/gen/
