<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk">

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="69" />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1"/>

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.GodotOpenXRMeta"
            android:value="org.godotengine.openxr.vendors.meta.GodotOpenXRMeta" />

        <meta-data
            android:name="org.godotengine.plugin.v2.GodotOpenXRHybridAppInternal"
            android:value="org.godotengine.openxr.vendors.GodotOpenXRHybridAppInternal" />

        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3" />

        <meta-data
            android:name="com.oculus.vr.focusaware"
            android:value="true" />
    </application>

</manifest>
