<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.openxrloaders.lynx">

    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"/>
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR"/>

    <queries>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService"/>
        </intent>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <package android:name="com.ultraleap.tracking.service"/>
        <package android:name="com.ultraleap.openxr.api_layer"/>
    </queries>

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.GodotOpenXRLynx"
            android:value="org.godotengine.openxrloaders.khr.GodotOpenXRLynx" />

        <meta-data android:name="handtracking" android:value="1" />
    </application>

</manifest>
