<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Enable VR mode on Pico headsets -->
        <meta-data android:name="pvr.app.type" android:value="vr" />
        <meta-data android:name="pvr.sdk.version" android:value="OpenXR" />
        <meta-data android:name="pvr.display.orientation" android:value="180" />
        <meta-data android:name="pxr.sdk.version_code" android:value="5800" />
    </application>

</manifest>
