<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Godot plugin registration -->
        <meta-data android:name="org.godotengine.plugin.v2.GodotOpenXRPico"
            android:value="org.godotengine.openxr.vendors.pico.GodotOpenXRPico" />

        <!-- Enable VR mode on Pico headsets -->
        <meta-data android:name="pvr.app.type" android:value="vr" />
    </application>

</manifest>
