<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.openxrloaders.pico">

    <application>
        <!-- Godot plugin registration -->
        <meta-data android:name="org.godotengine.plugin.v1.GodotOpenXRPico"
            android:value="org.godotengine.openxrloaders.pico.GodotOpenXRPico" />

        <!-- Enable VR mode on Pico headsets -->
        <meta-data android:name="pvr.app.type" android:value="vr" />
    </application>

</manifest>
