# Workflow to publish the AARs to MavenCentral and capture the debug symbols on release.
name: MavenCentral Publish

on:
  release:
    # We'll run this workflow when a new GitHub release is created
    types: [published]
  workflow_dispatch: {}

env:
  # This is ovr_openxr_mobile_sdk v77.
  META_OPENXR_HEADERS_URL: 'https://securecdn-ord5-3.oculus.com/binaries/download/?id=23875289988749597'

jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python (for SCons)
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Android dependencies
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c
          link-to-sdk: true
      - name: Install scons
        run: |
          python -m pip install scons==4.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Download Meta OpenXR Preview headers
        run: |
          # PowerShell (ick!) works on all GitHub platforms. I don't like it, but it works.
          Invoke-WebRequest -Uri "${{ env.META_OPENXR_HEADERS_URL }}" -OutFile "ovr_openxr_mobile_sdk.zip"
          Expand-Archive -Path "ovr_openxr_mobile_sdk.zip" -DestinationPath "ovr_openxr_mobile_sdk"

          # These variables should carry over into bash as well.
          echo "SCONS_EXTRA=meta_headers=${{ github.workspace }}/ovr_openxr_mobile_sdk/OpenXR/meta_openxr_preview/" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "GRADLE_EXTRA=-Pmeta_headers=${{ github.workspace }}/ovr_openxr_mobile_sdk/OpenXR/meta_openxr_preview/" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh

        # Builds the release artifacts of the library
      - name: Release build
        run: |
          # We build with debug symbols which will be stripped by Gradle.
          SCONS_EXTRA="$SCONS_EXTRA debug_symbols=yes"
          scons platform=android target=template_debug arch=arm64 custom_api_file=thirdparty/godot_cpp_gdextension_api/extension_api.json build_profile=thirdparty/godot_cpp_build_profile/build_profile.json $SCONS_EXTRA
          scons platform=android target=template_release arch=arm64 custom_api_file=thirdparty/godot_cpp_gdextension_api/extension_api.json build_profile=thirdparty/godot_cpp_build_profile/build_profile.json $SCONS_EXTRA
          scons platform=android target=template_debug arch=x86_64 custom_api_file=thirdparty/godot_cpp_gdextension_api/extension_api.json build_profile=thirdparty/godot_cpp_build_profile/build_profile.json $SCONS_EXTRA
          scons platform=android target=template_release arch=x86_64 custom_api_file=thirdparty/godot_cpp_gdextension_api/extension_api.json build_profile=thirdparty/godot_cpp_build_profile/build_profile.json $SCONS_EXTRA
          ./gradlew -Prelease_version=${{ github.ref_name }} build $GRADLE_EXTRA

          # Put the unstripped .so files into ZIPs to use for their debug symbols.
          mkdir -p native-symbols/debug native-symbols/release
          cp -r plugin/src/main/libs/debug/*/* native-symbols/debug/
          cp -r plugin/src/main/libs/release/*/* native-symbols/release/
          (cd native-symbols/debug && zip -r ../../godot-openxr-vendors-android-native-symbols-debug.zip *)
          (cd native-symbols/release && zip -r ../../godot-openxr-vendors-android-native-symbols-release.zip *)

      - name: Upload native debug symbols
        uses: actions/upload-artifact@v4
        with:
          name: native-debug-symbols
          path: |
            godot-openxr-vendors-android-native-symbols-debug.zip
            godot-openxr-vendors-android-native-symbols-release.zip

      - name: Add native debug symbols to release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: |
            godot-openxr-vendors-android-native-symbols-debug.zip
            godot-openxr-vendors-android-native-symbols-release.zip
          draft: true
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
        if: startsWith(github.ref, 'refs/tags')

        # Runs upload, and then closes & releases the repository
      - name: Publish to MavenCentral
        run: ./gradlew -Prelease_version=${{ github.ref_name }} publishAllPublicationToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository $GRADLE_EXTRA
        env:
          OSSRH_GROUP_ID: ${{ secrets.OSSRH_GROUP_ID }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
